* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
    background-color: #b8dfe7;
    color: #333;
  }
.map-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        
        box-sizing: border-box;
      }
      
      #map {
        border: 3px solid #333;
        
        width: 1000px;
        height: auto;
        
        box-sizing: border-box;
        background-color: rgb(213, 231, 231);
        border-radius: 40px;
      }
.container {
      max-width: 900px;
      margin: 0 auto;
      padding: 40px 20px;
      background-color: #FFF8DC;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 9px;
    }

.carousel {
      width: 90%;
      max-width: 600px;
      margin: 30px auto;
      overflow: hidden;
      border-radius: 15px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.2);
      position: relative;
    }
    .carousel-images {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }
    
    .carousel-images img {
      width: 100%;
      flex-shrink: 0;
      height: 350px;
      object-fit: cover;
    }
.topic-header {
  text-align: center;
  margin-bottom: 1rem;
}

.topic-introduction,
.topic-formation,
.topic-features {
  margin-bottom: 2rem;
}

.feature-block {
  margin-bottom: 1.2rem;
  padding-left: 1rem;
  border-left: 3px solid #ccc;
}

.feature {
  margin-bottom: 1.5rem;
   background-color: #f0db89fb;
  padding: 1rem;
  border-radius: 8px;
}

.feature h5 {
  margin-bottom: 0.5rem;
  color: #444;
  font-size: 1.1em;
}
.table{
      border: 3px;
    }
    h1, h2 {
      color: #2c3e50;
      margin-top: 30px;
    }
    h1 {
      text-align: center;
      margin-bottom: 40px;
    }
    ul {
      padding-left: 20px;
    }
    ul li {
      margin-bottom: 6px;
    }
    .highlight {
      font-weight: bold;
    }
    p {
      margin: 10px 0 20px;
    }