.Afghanistan { fill: rgb(51, 72, 72); }
.Albania { fill: #e07b91; }
.Algeria { fill: #c0c040; }
.AmericanSamoa { fill: rgb(233, 32, 233);}
.Andorra { fill: #ffaf87; }
.Angola { fill: #a05d56; }
.AntiguaAndBarbuda { fill: #c98aff; }
.Argentina { fill: #00bcd4; }
.Armenia { fill: rgb(210, 210, 73); }
.Australia { fill: rgb(125, 71, 17); }
.Austria { fill: #8c8cff; }
.Azerbaijan { fill: #009688; }
.Bahamas { fill: #ffd54f; }
.Bahrain { fill: #d32f2f; }
.Bangladesh { fill: #388e3c; }
.Barbados { fill: #ffb74d; }
.Belarus { fill: #f06292; }
.Bermuda { fill: #9e9d24;}
.Belgium { fill: #ffca28; }
.Belize { fill: #4db6ac; }
.Benin { fill: #aed581; }
.Bhutan { fill: #8c0e05; }
.Bolivia { fill: #689f38; }
.BosniaAndHerzegovina { fill: #ff8a65; }
.Botswana { fill: #81d4fa; }
.Brazil { fill: rgb(40, 205, 40); }
.Brunei { fill: #ffab91; }
.Bulgaria { fill: #90caf9; }
.BurkinaFaso { fill: #8bc34a; }
.Burundi { fill: #f8bbd0; }
.CaboVerde { fill: #ba68c8; }
.Cambodia { fill: #ce93d8; }
.Cameroon { fill: #b2ff59; }
.Canada { fill: rgb(225, 6, 6); }
.CentralAfricanRepublic { fill: rgb(125, 193, 225); }
.Chad { fill: #ffe082; }
.Chile { fill: #64b5f6; }
.China { fill: red; }
.Colombia { fill: #ffd600; }
.Comoros { fill: #a1887f; }
.CongoBrazzaville { fill: #ff8f00; }
.CongoKinshasa { fill: #9e9d24; }
.CostaRica { fill: #f44336; }
.CoteDIvoire { fill: #fdd835; }
.Croatia { fill: #e1bee7; }
.Cuba { fill: #00acc1; }
.Cyprus { fill: #d4e157; }
.CzechRepublic { fill: #4fc3f7; }
.Denmark { fill: #ff7043; }
.Djibouti { fill: #81c784; }
.Dominica { fill: #aed581; }
.DominicanRepublic { fill: #7986cb; }
.DemocraticRepublicoftheCongo { fill: greenyellow;}
.EastTimor { fill: #ff8a80; }
.Ecuador { fill: #ffb300; }
.Egypt { fill: #dce775; }
.ElSalvador { fill: #81d4fa; }
.EquatorialGuinea { fill: #b3e5fc; }
.Eritrea { fill: #a5d6a7; }
.Estonia { fill: #64ffda; }
.Eswatini { fill: #d7ccc8; }
.Ethiopia { fill: #ffd180; }
.Fiji { fill: #e6ee9c; }
.Finland { fill: #ff5252; }
.France { fill: #3f51b5; }
.FrenchGuiana { fill: #dce775;}
.FalklandIslands { fill: #00c853;}
.FaeroeIslands { fill: #f57f17;}
.Gabon { fill: #81c784; }
.Gambia { fill: #cddc39; }
.Georgia { fill: #00e676; }
.Germany { fill: #df2a2a; }
.Ghana { fill: #d32f2f; }
.Greece { fill: #03a9f4; }
.Grenada { fill: #ffeb3b; }
.Guatemala { fill: #4db6ac; }
.Guinea { fill: #d84315; }
.GuineaBissau { fill: #dce775; }
.Guyana { fill: #ffb74d; }
.Greenland { fill: rgb(4, 252, 21);}
.Haiti { fill: #ffab40; }
.Honduras { fill: #64b5f6; }
.Hungary { fill: #ec407a; }
.Iceland { fill: #90a4ae; }
.india {fill: rgb(250, 151, 13);}
.Indonesia { fill: #e91e63; }
.Iran { fill: #43a047; }
.Iraq { fill: #bdbdbd; }
.Ireland { fill: #388e3c; }
.Israel { fill: #3949ab; }
.Italy { fill: #8d6e63; }
.Jamaica { fill: #fbc02d; }
.Japan { fill: #f48fb1; }
.Jordan { fill: #5c6bc0; }
.Kazakhstan { fill: #00acc1; }
.Kenya { fill: #558b2f; }
.Kiribati { fill: #d50000; }
.KoreaNorth { fill: #c62828; }
.KoreaSouth { fill: #1e88e5; }
.Kosovo { fill: #607d8b; }
.Kuwait { fill: #1b5e20; }
.Kyrgyzstan { fill: #f57c00; }
.Laos { fill: #4dd0e1; }
.Latvia { fill: #8e24aa; }
.Lebanon { fill: #c51162; }
.Lesotho { fill: #9ccc65; }
.Liberia { fill: #6d4c41; }
.Libya { fill: #2e7d32; }
.Liechtenstein { fill: #3949ab; }
.Lithuania { fill: #ffca28; }
.Luxembourg { fill: #64b5f6; }
.Madagascar { fill: #90caf9; }
.Malawi { fill: #00897b; }
.Malaysia { fill: #5c6bc0; }
.Maldives { fill: #ef5350; }
.Mali { fill: #fdd835; }
.Malta { fill: #f48fb1; }
.MarshallIslands { fill: #ffb74d; }
.Mauritania { fill: #66bb6a; }
.Macedonia{ fill: #00695c;}
.Mauritius { fill: #ec407a; }
.Mexico { fill: rgb(153, 13, 13); }
.Micronesia { fill: #7986cb; }
.Moldova { fill: #90a4ae; }
.Monaco { fill: #c2185b; }
.Mongolia { fill: #6a1b9a; }
.Montenegro { fill: #ffb300; }
.Morocco { fill: #b71c1c; }
.Mozambique { fill: #2e7d32; }
.Myanmar { fill: #ff7043; }
.Namibia { fill: #c0ca33; }
.Nauru { fill: #1976d2; }
.Nepal { fill: #c62828; }
.Netherlands { fill: #ffa000; }
.NewZealand { fill: #00bcd4; }
.Nicaragua { fill: #4caf50; }
.Niger { fill: #fdd835; }
.Nigeria { fill: #2e7d32; }
.NorthMacedonia { fill: #ffb300; }
.Norway { fill: #ef6c00; }
.Oman { fill: #00897b; }
.Pakistan { fill: green; }
.Palau { fill: #90caf9; }
.Palestine { fill: #c62828; }
.Panama { fill: #0097a7; }
.PapuaNewGuinea { fill: #ff8f00; }
.Paraguay { fill: #d500f9; }
.Peru { fill: #b71c1c; }
.Philippines { fill: #0d47a1; }
.Poland { fill: #f48fb1; }
.Portugal { fill: #d50000; }
.Qatar { fill: #8d6e63; }
.RepublicofKorea { fill: #aea7a7;}
.RepublicofCongo { fill: #00c853;}
.Romania { fill: #ffee58; }
.RussianFederation { fill: #607d8b; }
.Rwanda { fill: #aed581; }
.SaintKittsAndNevis { fill: #00e676; }
.SaintLucia { fill: #00bfa5; }
.SaintVincentAndTheGrenadines { fill: #c6ff00; }
.Samoa { fill: #aa00ff; }
.SanMarino { fill: #9e9d24; }
.SaoTomeAndPrincipe { fill: #00c853; }
.SaudiArabia { fill: rgb(183, 145, 80); }
.Senegal { fill: #ffd600; }
.Serbia { fill: #1e88e5; }
.Seychelles { fill: #00e5ff; }
.SierraLeone { fill: #d4e157; }
.Singapore { fill: #b2dfdb; }
.Slovakia { fill: #ef5350; }
.Slovenia { fill: #4db6ac; }
.SolomonIslands { fill: #66bb6a; }
.Somalia { fill: #82b1ff; }
.SouthAfrica { fill: #33691e; }
.SouthSudan { fill: #ff6f00; }
.Spain { fill: #ff5722; }
.SriLanka { fill: #827717; }
.Sudan { fill: #8bc34a; }
.Suriname { fill: #e65100; }
.Sweden { fill: #fbc02d; }
.Switzerland { fill: red; }
.Saint-Barthélemy { fill: #00897b;}
.Syria { fill: #9c27b0; }
.SierraLeone{ fill: #d50000;}
.Taiwan { fill: #00acc1; }
.Tajikistan { fill: #8e24aa; }
.Tanzania { fill: #7cb342; }
.Thailand { fill: #ec407a; }
.Togo { fill: #cddc39; }
.Tonga { fill: #ff5722; }
.TrinidadAndTobago { fill: #d84315; }
.Tunisia { fill: #ff1744; }
.Timor-Leste{ fill: rgb(243, 240, 245);}
.Turkey { fill: #ad1457; }
.Turkmenistan { fill: #00796b; }
.Tuvalu { fill: #b2ebf2; }
.Uganda { fill: #ffb300; }
.Ukraine { fill: #ffea00; }
.UnitedArabEmirates { fill: #00695c; }
.UnitedKingdom { fill: #3f51b5; }
.UnitedStates { fill: rgb(40, 40, 97); }
.Uruguay { fill: #dce775; }
.Uzbekistan { fill: #26c6da; }
.Vanuatu { fill: #558b2f; }
.VaticanCity { fill: #fff176; }
.Venezuela { fill: #f44336; }
.Vietnam { fill: #c62828; }
.WesternSahara { fill: #cfbe5e;}
.Yemen { fill: #ef5350; }
.Zambia { fill: #689f38; }
.Zimbabwe { fill: #43a047; }
